<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Jandelou</a>
        <a href="#" materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a [routerLink]="['Home']">HOME</a></li>
            <li><a [routerLink]="['About']">ABOUT</a></li>
            <li><a [routerLink]="['Blog']">Blog</a></li>
            <li class="active"><a [routerLink]="['Albums']">ALBUMS</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a [routerLink]="['Home']">HOME</a></li>
            <li><a [routerLink]="['About']">ABOUT</a></li>
            <li><a [routerLink]="['Blog']">Blog</a></li>
            <li class="active"><a [routerLink]="['Albums']">ALBUMS</a></li>
        </ul>
    </div>
</nav>